@use 'variables' as *;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @media (min-width: $breakpoint) {
    @content;
  }
}

@mixin generate-theme-vars($theme-map, $theme-name: null) {
  @if $theme-name == null {
    :root {
      @each $key, $value in $theme-map {
        --#{$key}: #{$value};
      }
    }
  } @else {
    [data-theme='#{$theme-name}'] {
      @each $key, $value in $theme-map {
        --#{$key}: #{$value};
      }
    }
  }
}
